body{
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background-image: url("kdu.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: rgba(255,255,255,0.90);

    width: 85%;
    max-width: 1200px;

    padding: 60px;

    border-radius: 25px;

    border: 5px solid white;

    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);

    text-align: center;
}

h1{
    color: #0044cc;

    font-size: 60px;

    margin-bottom: 40px;
}

nav{
    margin-bottom: 50px;

    display: flex;

    justify-content: center;

    gap: 40px;

    flex-wrap: wrap;
}

nav a{
    text-decoration: none;

    background-color: white;

    color: #0044cc;

    padding: 18px 40px;

    border-radius: 14px;

    border: 2px solid #0044cc;

    font-size: 28px;

    font-weight: bold;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);

    transition: 0.3s;
}

nav a:hover{
    background-color: #ff9800;

    color: black;

    transform: scale(1.1);
}

.content{
    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 25px;
}

p{
    font-size: 30px;

    color: #222;

    margin: 0;

    line-height: 1.8;

    font-weight: 500;
}
